# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [3]:
df.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
# H0. Dragon <= Grass
# H1. Dragon > Grass

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
#code here
df_dragon = df[(df["Type 1"] == "Dragon")|(df["Type 2"] == "Dragon")]
df_grass = df[(df["Type 1"] == "Grass")|(df["Type 2"] == "Grass")]

df_dragon

(                       Name    Type 1    Type 2   HP  Attack  Defense  \
 7          Mega Charizard X      Fire    Dragon   78     130      111
 159                 Dratini    Dragon       NaN   41      64       45
 160               Dragonair    Dragon       NaN   61      84       65
 161               Dragonite    Dragon    Flying   91     134       95
 196           Mega Ampharos  Electric    Dragon   90      95      105
 249                 Kingdra     Water    Dragon   75      95       95
 275           Mega Sceptile     Grass    Dragon   70     110       75
 360                 Vibrava    Ground    Dragon   50      70       50
 361                  Flygon    Ground    Dragon   80     100       80
 365                 Altaria    Dragon    Flying   75      70       90
 366            Mega Altaria    Dragon     Fairy   75     110      110
 406                   Bagon    Dragon       NaN   45      75       60
 407                 Shelgon    Dragon       NaN   65      95      100
 408               Salamence    Dragon    Flying   95     135       80
 409          Mega Salamence    Dragon    Flying   95     145      130
 417                  Latias    Dragon   Psychic   80      80       90
 418             Mega Latias    Dragon   Psychic   80     100      120
 419                  Latios    Dragon   Psychic   80      90       80
 420             Mega Latios    Dragon   Psychic   80     130      100
 425                Rayquaza    Dragon    Flying  105     150       90
 426           Mega Rayquaza    Dragon    Flying  105     180      100
 491                   Gible    Dragon    Ground   58      70       45
 492                  Gabite    Dragon    Ground   68      90       65
 493                Garchomp    Dragon    Ground  108     130       95
 494           Mega Garchomp    Dragon    Ground  108     170      115
 540                  Dialga     Steel    Dragon  100     120      120
 541                  Palkia     Water    Dragon   90     120      100
 544  Giratina Altered Forme     Ghost    Dragon  150     100      120
 545   Giratina Origin Forme     Ghost    Dragon  150     120      100
 671                    Axew    Dragon       NaN   46      87       60
 672                 Fraxure    Dragon       NaN   66     117       70
 673                 Haxorus    Dragon       NaN   76     147       90
 682               Druddigon    Dragon       NaN   77     120       90
 694                   Deino      Dark    Dragon   52      65       50
 695                Zweilous      Dark    Dragon   72      85       70
 696               Hydreigon      Dark    Dragon   92     105       90
 706                Reshiram    Dragon      Fire  100     120      100
 707                  Zekrom    Dragon  Electric  100     150      120
 710                  Kyurem    Dragon       Ice  125     130       90
 711     Kyurem Black Kyurem    Dragon       Ice  125     170      100
 712     Kyurem White Kyurem    Dragon       Ice  125     120       90
 761                Dragalge    Poison    Dragon   65      75       90
 766                  Tyrunt      Rock    Dragon   58      89       77
 767               Tyrantrum      Rock    Dragon   82     121      119
 774                   Goomy    Dragon       NaN   45      50       35
 775                 Sliggoo    Dragon       NaN   68      75       53
 776                  Goodra    Dragon       NaN   90     100       70
 790                  Noibat    Flying    Dragon   40      30       35
 791                 Noivern    Flying    Dragon   85      70       80
 794      Zygarde Half Forme    Dragon    Ground  108     100      121

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 7        130       85    100           1      False
 159       50       50     50           1      False
 160       70       70     70           1      False
 161      100      100     80           1      False
 196      165      110     45           2      False
 249       95       95     85           2      False
 275      145       85    145           3      False
 360       50       50     70           3      False
 361       80       80    100           3      False
 365       70      105     80           3      False
 366      110      105     80           3      False
 406       40       30     50           3      False
 407       60       50     50           3      False
 408      110       80    100           3      False
 409      120       90    120           3      False
 417      110      130    110           3       True
 418      140      150    110           3       True
 419      130      110    110           3       True
 420      160      120    110           3       True
 425      150       90     95           3       True
 426      180      100    115           3       True
 491       40       45     42           4      False
 492       50       55     82           4      False
 493       80       85    102           4      False
 494      120       95     92           4      False
 540      150      100     90           4       True
 541      150      120    100           4       True
 544      100      120     90           4       True
 545      120      100     90           4       True
 671       30       40     57           5      False
 672       40       50     67           5      False
 673       60       70     97           5      False
 682       60       90     48           5      False
 694       45       50     38           5      False
 695       65       70     58           5      False
 696      125       90     98           5      False
 706      150      120     90           5       True
 707      120      100     90           5       True
 710      130       90     95           5       True
 711      120       90     95           5       True
 712      170      100     95           5       True
 761       97      123     44           6      False
 766       45       45     48           6      False
 767       69       59     71           6      False
 774       55       75     40           6      False
 775       83      113     60           6      False
 776      110      150     80           6      False
 790       45       40     55           6      False
 791       97       80    123           6      False
 794       81       95     95           6       True  ,
                        Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
 0                 Bulbasaur  Grass  Poison  45      49       49       65
 1                   Ivysaur  Grass  Poison  60      62       63       80
 2                  Venusaur  Grass  Poison  80      82       83      100
 3             Mega Venusaur  Grass  Poison  80     100      123      122
 48                   Oddish  Grass  Poison  45      50       55       75
 ..                      ...    ...     ...  ..     ...      ...      ...
 783    Pumpkaboo Super Size  Ghost   Grass  59      66       70       44
 784  Gourgeist Average Size  Ghost   Grass  65      90      122       58
 785    Gourgeist Small Size  Ghost   Grass  55      85      122       58
 786    Gourgeist Large Size  Ghost   Grass  75      95      122       58
 787    Gourgeist Super Size  Ghost   Grass  85     100      122       58

      Sp. Def  Speed  Generation  Legendary
 0         65     45           1      False
 1         80     60           1      False
 2        100     80           1      False
 3        120     80           1      False
 48        65     30           1      False
 ..       ...    ...         ...        ...
 783       55     41           6      False
 784       75     84           6      False
 785       75     99           6      False
 786       75     69           6      False
 787       75     54           6      False

 [95 rows x 11 columns])

In [7]:
df_grass

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...
783,Pumpkaboo Super Size,Ghost,Grass,59,66,70,44,55,41,6,False
784,Gourgeist Average Size,Ghost,Grass,65,90,122,58,75,84,6,False
785,Gourgeist Small Size,Ghost,Grass,55,85,122,58,75,99,6,False
786,Gourgeist Large Size,Ghost,Grass,75,95,122,58,75,69,6,False
787,Gourgeist Super Size,Ghost,Grass,85,100,122,58,75,54,6,False

In [8]:
st.ttest_ind(df_dragon["HP"], df_grass["HP"])

TtestResult(statistic=4.4991348531252635, pvalue=1.4019427478617643e-05, df=143.0)

In [11]:
print(df_grass["HP"].mean())
print(df_dragon["HP"].mean())

66.05263157894737
82.9

In [12]:
print(df_grass["HP"].max())
print(df_dragon["HP"].min())

123
40

In [14]:
print(df_grass["HP"].max())
print(df_dragon["HP"].max())

print(df_grass["HP"].min())
print(df_dragon["HP"].min())

123
150
30
40

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [27]:
df_house = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df_house.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
# H0. houses near school or hospital <= price of all houses
# H1. Houses near school or hospital > price of all houses

In [30]:
def get_distance_school(row):
    school = (-118,34)
    return np.sqrt((row["longitude"] - school[0])**2 + (row["latitude"] - school[1])**2)

def get_distance_hospital(row):
    hospital = (-122, 347)
    return np.sqrt((row["longitude"] - hospital[0])**2 + (row["latitude"] - hospital[1])**2)

df_house["distance_school"] = df_house.apply(get_distance_school, axis=1)
df_house["distance_hospital"] = df_house.apply(get_distance_hospital, axis=1)

df_house["close"] = df_house.apply (lambda row: min(row["distance_school"], row["distance_hospital"]) < 0.5 , axis=1)

df_close = df_house[df_house["close"]==True]
df_far = df_house[df_house["close"]==False]

In [31]:
df_close

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,distance_school,distance_hospital,close
2366,-117.51,34.00,36.0,3791.0,746.0,2258.0,672.0,3.2067,124700.0,0.490000,313.032203,True
2367,-117.51,33.97,35.0,352.0,62.0,184.0,57.0,3.6691,137500.0,0.490918,313.062200,True
2368,-117.51,33.95,12.0,9016.0,1486.0,4285.0,1457.0,4.9984,169100.0,0.492544,313.082198,True
2371,-117.52,33.99,14.0,13562.0,2057.0,7600.0,2086.0,5.2759,182900.0,0.480104,313.042059,True
2372,-117.52,33.89,2.0,17978.0,3217.0,7305.0,2463.0,5.1695,220800.0,0.492443,313.142048,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8521,-118.49,34.02,28.0,2545.0,752.0,1548.0,679.0,2.9125,475000.0,0.490408,312.999681,True
8522,-118.49,34.02,28.0,1394.0,582.0,716.0,543.0,1.5132,450000.0,0.490408,312.999681,True
8523,-118.49,34.02,27.0,4725.0,1185.0,1945.0,1177.0,4.1365,470800.0,0.490408,312.999681,True
8524,-118.49,34.01,28.0,651.0,252.0,333.0,174.0,1.9722,500001.0,0.490102,313.009681,True
8525,-118.49,34.00,32.0,3407.0,1071.0,1463.0,986.0,3.0369,500001.0,0.490000,313.019680,True